JAMF_URL=
JAMF_CLIENT_ID=
JAMF_CLIENT_SECRET=

SNIPEIT_URL=
SNIPEIT_API_KEY=

SNIPEIT_MANUFACTURER_ID=1
SNIPEIT_DEFAULT_STATUS=2
SNIPEIT_COMPUTER_CATEGORY_ID=2
SNIPEIT_MOBILE_CATEGORY_ID=5
SNIPEIT_COMPUTER_FIELDSET_ID=1
SNIPEIT_MOBILE_FIELDSET_ID=2